body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_ClipArt6 a svg
{
   position: absolute;
   left: 0;
}
#wb_ClipArt6 a .hover
{
   visibility: hidden;
}
#wb_ClipArt6 a:hover .hover
{
   visibility: visible;
}
#wb_ClipArt6 a:hover .default
{
   visibility: hidden;
}
#wb_ClipArt6
{
   margin: 0;
   animation: pop 1000ms linear 0ms infinite normal both;
   vertical-align: top;
}
